{# templates/index.html.twig #}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block title %}My Index Page{% endblock %}

{% block body %}

    <div id="card-container" class="card-wrapper"></div>

{% endblock %}
